<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <WindowsPackageType>MSIX</WindowsPackageType>
    <GenerateAppxPackageOnBuild>true</GenerateAppxPackageOnBuild>
    <AppxPackageSigningEnabled>false</AppxPackageSigningEnabled>
    <AppxSymbolPackageEnabled>false</AppxSymbolPackageEnabled>
    <AppxBundle>Never</AppxBundle>
    <UapAppxPackageBuildMode>SideloadOnly</UapAppxPackageBuildMode>
    <AppxPackageDir>artifacts\msix\</AppxPackageDir>
    <SelfContained>true</SelfContained>
    <PublishTrimmed>false</PublishTrimmed>
  </PropertyGroup>
</Project>
